* {
  box-sizing: border-box;  
  margin: 0px;
  padding: 0px;  

  color: #f2f2f2;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;

  position: relative;
  justify-content: center;
  align-items: center;

  
}

@media (min-width: 769px) {
  body {
    height: 100vh;
  }
}

@media (max-width: 768px){
  #preview-cards {
      display: flex;
      flex-direction: column;
      
      width: 90%;
      max-width: 375px;
      
      margin-top: 40px;
      margin-bottom: 80px;
      
      border-radius: 10px;
      
      overflow: hidden;  
  }
}

@media (min-width: 769px){
  #preview-cards {
      display: flex;
      
      width: 920px;
      height: 500px;  
      margin-top: 41px;
      
      border-radius: 10px;
      
      overflow: hidden;  
  }
}

@media (max-width: 768px){
  .pc-card {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    
    width: 100%;
    height: 500px;
    
    padding: 0% 12%;
  }
}

@media (min-width: 769px){
  .pc-card {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    
    width: 33.33%;
    padding-left: 5%;
  }
}

.pc-card img {
  margin-top: 50px;
}

.pc-card h2 {
  margin-top: 35px;
  
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.pc-card p {
  width: 80%;
  margin-top: 25px;

  color: #ffffffbf;
  line-height: 1.7rem;
}

.pc-card a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 150px;
  margin-top: 80px;
  border-radius: 25px;
  
  background-color: #f2f2f2;
  text-decoration: none;
}

.pc-card a:hover {
  border: 1px solid #f2f2f2;

  color: #f2f2f2;
  background-color: transparent;
}

.pc-sedans {
  background-color: #e38826;
}

.pc-sedans a {
  color: #e38826;
}

.pc-suvs {
  background-color: #006970;
}

.pc-suvs a {
  color: #006970;
}

.pc-luxury {
  background-color: #004241;
}

.pc-luxury a {
  color: #004241;
}

footer {
  position: absolute;

  bottom: 15px; 
}

footer p {  
  color: #004241;
  font-size: 11px; 
  text-align: center;
}

@media (min-width: 769px) {
  footer p {
    display: inline;
  }
}

footer a:visited, 
footer a:link {
  text-decoration: none;  
  color: #004241;
}